body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: aqua;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho fijo para el contenedor */
}

.container > * {
    width: 100%; /* Todos los elementos hijos tienen el mismo ancho */
    margin: 10px 0; /* Margen vertical entre los elementos */
}

h1 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
}

button {
    padding: 10px 0; /* Ajuste de padding para que todos los botones tengan la misma altura */
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.bo-ma{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.bo-ma > * {
    width: 100%; /* Todos los elementos hijos tienen el mismo ancho */
    margin: 10px 0; /* Margen vertical entre los elementos */
}